*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg-container{
    /* width: 100vw; */
    overflow: scroll;
    text-align: center;
    background-image: url("/todo\ imge.jpg");
    background-position: center;
    background-size: cover;
}
.Todo-list{
    text-align: left;
    margin-top: 25px;
    
}
/* .box{
    border: 2px solid black;
} */

.card1{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.label-container{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(158, 132, 103, 0.827);
    border-radius: 10px;
    border-left: 5px solid rgb(211, 201, 201);
    border-right: 5px solid rgb(211, 201, 201);
    padding: 10px;
    
}

.savebtn{
    width: 70px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
}
.savebtn:hover {
    background-color: #845bf6;
}
.checked{
    text-decoration: line-through;
}


